<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= @title %></title>

    <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.1/css/basscss.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="m0 sans dark">
    <!-- Header -->
    <%= render "header.html", logo: static_path(@conn, "/images/temp-logo.png") %>

    <!-- Flash alerts -->
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <!-- Main content -->
    <main role="main" class="mx-auto" style="max-width: 960px;">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <!-- Scripts -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
