<header>
  <div class="fixed top-0 col-12 white bg-dark">
    <div class="flex items-center justify-center mx-auto p2" style="max-width: 960px;">
    <ul class="flex list-style-none m0 p0">
      <li class="px2">Popular</li>
      <li class="px2">Genres</li>
      <li class="px2">My playlists</li>
    </ul>
  </div>
</header>

<div style="width: 100%; height: 50px;"></div>
